%canvas#desk_canvas
-# TODO: Lazy Load iframes
-# %iframe#screen_overlay(src="http://localhost:3001" frameborder="0")
#screen_overlay.carousel.slide
  .carousel-indicators
    %button.active{"aria-current" => "true", "aria-label" => "Slide 1", "data-bs-slide-to" => "0", "data-bs-target" => "#screen_overlay", :type => "button"}
    %button{"aria-label" => "Slide 2", "data-bs-slide-to" => "1", "data-bs-target" => "#screen_overlay", :type => "button"}
    %button{"aria-label" => "Slide 3", "data-bs-slide-to" => "2", "data-bs-target" => "#screen_overlay", :type => "button"}
  .carousel-inner
    .carousel-item.active
      %iframe(src="http://localhost:3001" frameborder="0")
      .carousel-caption.d-none.d-md-block
        %h5 First slide label
        %p Some representative placeholder content for the first slide.
    .carousel-item
      %iframe(src="http://localhost:3002" frameborder="0")
      .carousel-caption.d-none.d-md-block
        %h5 Second slide label
        %p Some representative placeholder content for the second slide.
    .carousel-item
      %img.d-block.w-100
      .carousel-caption.d-none.d-md-block
        %h5 Third slide label
        %p Some representative placeholder content for the third slide.
  %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#screen_overlay", :type => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.visually-hidden Previous
  %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#screen_overlay", :type => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.visually-hidden Next


= javascript_tag "import 'desk'", type: :module
