#desk_canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  margin: 0;
  padding: 0;
  display: block;
}

#screen_overlay {
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: white;
  display: none;
}